<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishAot>true</PublishAot>
        <PublishSingleFile>true</PublishSingleFile>
        <StripSymbols>true</StripSymbols>
        <DebugType>none</DebugType>
        <!-- Optional: less ICU/localizations -->
         <InvariantGlobalization>true</InvariantGlobalization>
    </PropertyGroup>
</Project>
